

<h3><center><%= "Your original tweet:" %></center></h3>
<p>
  <center>
    <%= params[:search_word] %>
  </center>
</p>

<p>
  <%= form_tag tweet_path do %>
    <%= text_field_tag :message, " ", :size => 150 %>
    <%#= submit_tag "Send New Tweet" %> 
    <center><input class="btn btn-default" type="submit" value="Send new tweet"></button></center
  <% end %>
</p>



<% @words.each do |orig, synonyms| %>
<%# synonyms.join(", ") %>
<p><%= "The word " %><strong><font color="#F5622F"><%= "'#{orig}'"%></font></strong><%=": has the following synonyms:" %></p>
<font color="black"><%= "#{synonyms}" %></font>
<% end %>







