

<h3><%= "Your original tweet:" %></h3>
<p>
  <center>
    <%= params[:search_word] %>
  </center>
</p>

<p>
  <%= form_tag tweet_path do %>
    <%= text_field_tag :message, " ", :size => 150 %>
    <%#= submit_tag "Send New Tweet" %> 
    <input class="btn btn-default" type="submit" value="Send new tweet"></button>
  <% end %>
</p>


<% @words.each do |orig, synonyms| %>
<%# synonyms.join(", ") %>
<p><%= "The word " %><strong><%= "'#{orig}'"%></strong><%=": has the following synonyms:" %></p>
<font color="red"><%= "#{synonyms}" %></font>
<% end %>







