
<h3><%= "Your original tweet:" %></h3>
<p><center><%= params[:search_word] %></center></p>

<p>
  <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
    <%= f.text_field :message, size: 150 %>
    <%= f.submit "Send New Tweet" %> 
  <% end %>
</p>

<% @words.each do |key, value| %>
<p><%= "The word '#{key}': has the following synonyms:" %></p>
<font color="red"><%= "#{value}" %></font>
<% end %>







