
<h3><%= "Your original tweet:" %></h3>
<p>
  <center>
    <%= params[:search_word] %>
  </center>
</p>

<p>
  <%= form_tag tweet_path do %>
    <%= text_field_tag :message, "Send new tweet", :size => 150 %>
    <%= submit_tag "Send New Tweet" %> 
    <%#= button_to "Create", action: tweet %> 
  <% end %>
</p>

<% @words.each do |key, value| %>
<p><%= "The word '#{key}': has the following synonyms:" %></p>
<font color="red"><%= "#{value}" %></font>
<% end %>







