<!DOCTYPE html>
<html>
<head>
  <title>TweetSmithy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container>"
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
          <h4>What is the Smithy?</h4>
          <p>
            TweetSmithy aims to simplify and automate the wordsmithing that occurs while livetweeting events. 
          </p>
            <p>
              <em>Imagine this</em>, while attending a presentation at conference the presenter drops a brilliant oneliner perfect for your Twitter followers. Your fingers quickly type out the quote while attempting to pay attention to the presentation. "Oh no!" That perfect quote is a hundred characters over! So you start paring down words and abbreviating others, hoping to avoid switching 'are' to 'r'. You switch a comma and spaces to an em dash. The tweet finally fits, but the presenter is onto the next topic and you missed the introduction as you frantically edited. 
          </p>
          <p>
            TweetSmithy automates this process by providing shorter synonyms, related words and abbreviations. It will point out passive voice and suggest you make it active. 
          </p>
        <header class ="navbar navbar-fixed top navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
            <% if current_user %>
          Signed in as <%= current_user.name %>!
              <%= link_to "Sign out", signout_path %>
            <% else %>
             <%= link_to "Sign in with Twitter", "/auth/twitter" %>
            <% end %>
    </div>
    
  </div>
</body>
</html>
